# Local environment binaries and folders
node.exe
npm
npm.cmd
npm.ps1
npx
npx.cmd
npx.ps1
corepack
corepack.cmd
nodevars.bat
install_tools.bat
node_modules/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
backend/venv/
backend/__pycache__/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
